[Desktop Entry]
Encoding=UTF-8
Name=FusionX
Comment=Fusion P2P Cryptocurrency
Comment[de]=Verbinde mit dem Fusion peer-to-peer Netzwerk
Comment[fr]=Fusion, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Fusion, eşten eşe kriptografik sanal para birimi
Exec=fusion-qt %u
Terminal=false
Type=Application
Icon=fusion128
MimeType=x-scheme-handler/fusion;
Categories=Office;Finance;
