[Unit]
Description=Fusion's distributed currency daemon
After=network.target

[Service]
User=fusioncore
Group=fusioncore

Type=forking
PIDFile=/var/lib/fusiond/fusiond.pid
ExecStart=/usr/bin/fusiond -daemon -pid=/var/lib/fusiond/fusiond.pid \
-conf=/etc/fusioncore/fusion.conf -datadir=/var/lib/fusiond -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
